body {
  margin: 0;
  overflow-y: scroll;
}
.error {
  color: red;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0.1rem solid red;
}
#nav:not(.other) + .error {
  display: none;
}
.pager {
  position: sticky;
  z-index: 1;
  bottom: 0;
  background: lightyellow;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 -1px 1px rgba(0,0,0,0.1);
}
#nav {
  position: sticky;
  z-index: 1;
  top: 0;
  background: orange;
  padding: 0 0.5rem;
  display: flex;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#nav > a {
  margin: 0.5rem 0.3rem;
}
#nav > a:nth-child(2) {
  font-weight: bold;
  color: purple;
}
#nav > a:last-child {
  flex-grow: 1;
  text-align: right;
}
.intro>.intro, .news>.news, .newest>.newest, .show>.show, .ask>.ask, .jobs>.jobs {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
#main {
  margin: 0;
  overflow-wrap: break-word;
}
.inset {
  padding: 1rem;
}
.ol {
  margin-left: 1rem;
}
.li {
  margin-bottom: 0.5rem;
}
.details {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
a[data-cmd], .mainlink {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.large {
  font-size: large;
}
.smallgrey {
  font-size: small;
  color: #666;
}
.loading {
  cursor: progress;
  opacity: 0.1;
  transition: opacity 1s;
}
.nolink {
  color: #666 !important;
  pointer-events: none;
}
