header {
  background: white;
  position: sticky;
  padding-bottom: 1em;
  top: 0px;
}
nav {
  background: orange;
  font-size: large;
  padding: 0.2em;
}
footer {
  text-align: center;
  font-size: small;
  padding: 0.2em;
}
main {
  margin: 0.2em;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 0.5em;
}
details {
  margin-top: 0.5em;
  margin-left: 1em;
}
a {
  color: black;
}
a:link {
  color: #444;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.large {
  font-size: large;
}
.grey {
  color: grey;
}
.smallgrey {
  font-size: small;
  color: #666;
}
.loading {
  cursor: progress;
  opacity: 0.1;
  transition: 1s;
}
